<footer>

	<span>version {{ site.version }}</span>
	<div class="row">
		<div class="col-md-12">
			<a href="https://github.com/jrrn" class="socialLinks" target="_blank">
				<img src="{{"/img/icons/github_ico.jpg" | prepend: site.baseurl | replace: '//', '/' }}" style="height: 30px;" alt="Github Logo">
			</a>
			<a href="https://www.linkedin.com/in/josé-rafael-ramón-navarro-27710661/" class="socialLinks" target="_blank">
				<img src="{{"/img/icons/linkedin_ico.jpg" | prepend: site.baseurl | replace: '//', '/' }}" style="height: 30px;" alt="LinkedIn Logo">
			</a>
		</div>
	</div>
</footer>