<footer>

	<span>version {{ site.version }}</span>
	<div class="row">
		<div class="col-md-6 pull-right">
			<a href="https://github.com/jrrn">
				<img src="{{"/img/icons/github_ico.jpg" | prepend: site.baseurl | replace: '//', '/' }}" style="height: 30px;" alt="Github Logo">
			</a>
		</div>
		<div class="col-md-6 pull-left">
			<a href="https://www.linkedin.com/in/josé-rafael-ramón-navarro-27710661/">
				<img src="{{"/img/icons/linkedin_ico.jpg" | prepend: site.baseurl | replace: '//', '/' }}" style="height: 30px;" alt="LinkedIn Logo">
			</a>
		</div>
	</div>
</footer>