/*- Custom style -*/

// -- Put custom style under this point -- //

.socialLinks :hover {
    background-color: #008A3C !important;
}

body{
    text-align: justify;
}

.socialLinksfooter {
	max-width: 100%;
	display: initial !important;
	margin: 0 auto;
	margin-bottom: none !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
  }	